@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    /* significa todas as tags */

    margin: 0px;
    padding: 0px;

    font-family: "jost";
}

.app-header {

    /* estilizacao aqui dentro */
    height: 80px;

    display: flex;
    /* muda a orientaçao para lado-a-lado*/
    align-items: center;
    /* deixa o texto centralizado verticalmente */
    justify-content: space-between;
    /* joga os elementos para o lado */

    padding-left: 80px;
    padding-right: 80px;

    box-shadow: 0px 2px 4px #464646;


}

.app-footer {

    /* estilizacao aqui dentro */
    height: 80px;

    display: flex;
    /* muda a orientaçao para lado-a-lado*/
    align-items: center;
    /* deixa o texto centralizado verticalmente */
    justify-content: center;
    /* joga os elementos para o lado */

    /* justify-content: center; horizontal */
    /* align-items: center; vertical */

    padding-left: 80px;
    padding-right: 80px;

    box-shadow: 0px -2px 4px #464646;

}

.links a {

    font-size: 30px;
    text-decoration: nome;
    /*tira o traço de baixo da fonte */
    color: #464646;

    padding-left: 35px;
}


.app-main {

    padding: 80px;

}

.memory-card {

    margin-right: 40px;
    margin-bottom: 40px;

    transition: all ease 0.3s;

}

.memory-card:hover {

    cursor: pointer;
    scale: 1.05;

}

.memory-card .image {


    height: 300px;
    width: 300px;

    background-image: url("../assets/imgs/bg1.png");
    background-size: cover;
}

.memory-card .image1 {

height: 300px;
width: 300px;

background-image: url("../assets/imgs/paraquedas.png");
background-size: cover;
}

.memory-card .image2 {

height: 300px;
width: 300px;

background-image: url("../assets/imgs/carro.png");
background-size: cover;

}

.memory-card .image3 {

    height: 300px;
    width: 300px;
    
    background-image: url("../assets/imgs/conquistas.png");
    background-size: cover;
    
    }

.memory-card h2 {

    font-size: 50px;
    font-weight: normal;
    /*remover o negrito*/
    color: #464646;


}

.memory-card p {

    color: #464646;

}

.memoria-container {

    display: flex;
    flex-wrap: wrap;
}